html[data-theme='4bar88'] {
  // Theme Color
  --main-color: #edc967;
  --primary-color: #33638b;
  --secondary-color: #1d222e;
  --text-color: #7f869a;
  --btn-linear: linear-gradient(90deg, #ae8625 0%, #f7ef84 38.54%, #d2ac47 62.5%, #edc967 100%);

  // Global
  --text-default: #fff;
  --text-light: var(--main-color);
  --text-failed: #da4545;
  --text-success: '';

  // Layouts Background
  --body-bg: url('https://imagedelivery.net/xVhPJrN2Mvh3likGpmWIgg/667fc826-6040-4094-a180-f0c059171600/public');
  --header-bg: '';
  --footer-bg: #1F1F1F;
  --menu-text: #fff;
  --menu-text-active: var(--btn-linear);
  --menu-line-active: #fff;

  // Form Input
  --form-input-bg: '';
  --form-input-border: '';
  --form-input-shadow: '';
  --input-label: #fff;
  --input-text: #fff;
  --input-bg: rgba(0, 0, 0, 0.5);
  --input-border: var(--main-color);

  // Table
  --table-th: rgba(0, 0, 0, 0.75);
  --table-td: rgba(0, 0, 0, 0.6);
  --table-hover: rgba(0, 0, 0, 0.75);
  --table-text: #fff;
  --table-line: var(--secondary-color);
  --table-border: transparent;

  // Tab
  --tab-bg: var(--btn-linear);
  --tab-text: #000;
  --tab-text-active: #33638b;
  --tab-line-active: #000;
  --tab-text-hover: #fff;

  // Modal
  --modal-bg: var(--secondary-color);
  --modal-otp-bg: url('https://imagedelivery.net/xVhPJrN2Mvh3likGpmWIgg/d72bd16d-a73b-466b-a09b-0f6b90a16300/public');

  // Button
  --btn-bg: linear-gradient(180deg, #000000 0%, #d8d8d8 305.88%);
  --btn-text: #fff;
  --btn-border: var(--main-color);
  --btn-border-active: var(--main-color);

  // Card Menu
  --card-menu-border: var(--main-color);
  --card-menu-text: var(--btn-linear);
  --card-menu-svg: #fff;
  --card-menu-svg-bg: '';
  --card-menu-svg-border: 1px solid var(--main-color);
  --card-menu-bg: url('https://imagedelivery.net/xVhPJrN2Mvh3likGpmWIgg/878738fa-451f-4ead-548c-679b261e1000/public');

  // Card Bank
  --card-bank-bg: rgba(0, 0, 0, 0.6);
  --card-bank-border: '';
  --bank-copy-btn-bg: var(--btn-linear);
  --bank-copy-btn-text: #000;
  --bank-copy-btn-border: '';

  // Card Detail
  --card-detail-bg: rgba(0, 0, 0, 0.6);
  --card-detail-border: '';
  --card-detail-text: #fff;

  // Register Page, Progress
  --progress-line: #fff;
  --progress-border: var(--text-color);
  --progress-bg: var(--secondary-color);
  --progress-text: var(--text-color);
  --progress-bg-active: var(--secondary-color);
  --progress-text-active: var(--main-color);
  --progress-border-active: var(--main-color);

  // Index Login Page, Button Transaction
  --btn-ts-bg: linear-gradient(180deg, #000000 0%, #d8d8d8 305.88%);
  --btn-ts-text: #fff;
  --btn-ts-border: 1px solid var(--main-color);
  --btn-ts-svg: var(--secondary-color);
  --btn-ts-svg-bg: linear-gradient(270.44deg, #f4da96 3.81%, #6c4d20 97.06%);

  // Affiliate & Alliance Page, Link Recom
  --recom-bg: rgba(0, 0, 0, 0.6);
  --recom-label: #fff;
  --recom-text: #fff;
  --recom-border: '';

  // Affiliate & Alliance Page, Card Report
  --card-report-bg: rgba(0, 0, 0, 0.6);
  --card-report-text: #fff;
  --card-report-border: '';
  --card-report-number: linear-gradient(288.75deg, #ffe998 43.66%, #57370d 98.67%);

  // Profile Info Page
  --profile-info-label: var(--btn-linear);
  --profile-info-text: #fff;
  --profile-info-bg: url('https://imagedelivery.net/xVhPJrN2Mvh3likGpmWIgg/d72bd16d-a73b-466b-a09b-0f6b90a16300/public');

  // Contact Page
  --contact-bg: rgba(0, 0, 0, 0.6);
  --contact-text: #fff;
  --contact-border: '';

  // User Info
  --profile-credit-svg: var(--main-color);
  --profile-credit-text: #fff;
  --profile-credit-btn-bg: linear-gradient(180deg, #000000 0%, #d8d8d8 305.88%);
  --profile-credit-btn-text: #fff;
  --profile-credit-btn-border: var(--main-color);

  // Floating Line
  --line-width-desktop: 60px;
  --line-width-mobile: 50px;
}
